/* Global variables */
:root {
    /* Fallback to cursive*/
    --primary-font: 'Lakki Reddy';
    --secondary-font: 'Permanent Marker';
    --secondary-font2: 'Permanent Marker';
    
    /* Colors */
    --primary-color1: #1d1919;
    --primary-color2: #ffcf76af;
    --secondary-color1: #ff7315;
    --secondary-color2: #0900c3;
    --secondary-color3: #eeeeee;
}

/* Apply a natural box layout model to all elements, 
but allowing components to change */
html {
    box-sizing: border-box;
}

*,
::before, 
::after {
    box-sizing: inherit;
}

body {
    font-family: var(--secondary-font2, cursive);
    font-size: 1em;
    margin: 0;
    color: var(--primary-color1, black);
    background-color: var(--secondary-color1, blue);

    /* border: 2px solid red;
    height: 100%; */
}

/* mobile friendly alternative 
to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--secondary-color3, white); 
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 50px auto 50px auto 50px auto;

    background-color: var(--secondary-color1, blue);
    /* border: 2px solid red; */
}

header {
    /* border: 2px solid red; */
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
    background-color: var(--secondary-color1);
    border-radius: 10px;
    margin: 0 10px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

main {
    /* border: 2px solid red; */
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
}

footer {
    /* border: 2px solid red; */
    
    grid-column: 1 / -1;
    grid-row: 6 / span 1;
    background-color: var(--secondary-color1);

    border-radius: 10px;
    margin: 0 10px 10px 10px;
    /* font-family: var(--primary-font, cursive), cursive; */
}

footer p {
    font-size: 1.25em;
    line-height: .5em;
    padding-top: 5px;
    font-family: var(--primary-font);
    margin-bottom: 0.5em;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

/* Header tags */
#title {
    font-family: var(--primary-font, cursive), cursive;
    padding: 10px 0px 0px 0px;
}

#description {
    font-family: var(--primary-font, cursive), cursive;
    font-size: 1.25em;
}

#title, #description {
    /* border: 2px solid red; */
    margin-top: 0;
    margin-bottom: -.15em;
    line-height: 1.5;

}

#survey-form {
    padding: 1.5em 1.5em;
    background-color: #ff73159c;
    border: 3px solid var(--primary-color1);
    border-radius: 20px;
    /* color: var(--secondary-color1); */
    /* opacity: 0.8; */
    /* color: var(--primary-color2); */
}

label {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
  }

div.form-div > p {
    font-size: 1.4rem;
    margin-bottom: 0.4rem;
    margin-top: 0;
}

/* Global Classes */
.text-center {
    text-align: center;
}

.form-div {
    padding: 0.25rem;
    /* border: 3px solid var(--primary-color1); */
    margin: 0 auto 1.25rem auto;
}

.form-data {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: none; */
    /* border-bottom: 1px solid #ced4da; */
    border-radius: 0.5rem;
}

.text-area {
    min-height: 150px;
    resize: none;
}

#submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    color: var(--primary-color1);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type='radio'], input[type='checkbox'] {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}